body {
    background: url(textur.webp) center center fixed;
    font-size: 27px;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    color: rgb(56, 35, 3);
    background-attachment: fixed;
   
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.flex-box {
    text-align: center;
    height: 740px;
    width: 360px;
    margin: 1px;
}


.opciones  {

    display: flex;
    flex-direction: column;   
}


button {
    padding: 30px 70px;
    margin-top: 30px ;
    background-color: transparent;
    font-size: 30px;
    border: 0.1px solid black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 10px black;
    opacity: 60%;
}

button:hover {
    opacity: 100%;

}

.dead {
    background: url(mancha2.png) center center;
    background-repeat: no-repeat;
    
}

#final {

    flex-direction: column;
}

#final h4 {
    font-size: 35px;
}

#final2 {
    flex-direction: column;
}

.transicion {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

