body {
    display: flex;
    vertical-align: top;
    font-size: 27px;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    color: rgb(56, 35, 3);
    justify-content: center;
    background: url(textur.webp) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;  
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.flex-box {
    text-align: center;
    width: 360px; 
}



.second {
    display: flex;
    flex-direction: column;
}


button {
    padding: 30px 70px;
    margin-top: 30px ;
    background-color: transparent;
    font-size: 30px;
    border: 0.1px solid black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 10px black;
    opacity: 60%;
}

button:hover {
    opacity: 100%;
}

.dead {
    background: url(mancha3.png) center center;
    background-repeat: no-repeat;  
}

#final {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;

}

#final h4 {
    font-size: 35px;
}

#final2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.transicion {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
 

@media screen and (min-width:800px) and  {

    section {
        align-items: center;
    }   
}